---
http_interactions:
- request:
    method: post
    uri: https://oshpark.com/api/v1/sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v1/sessions.%23%3CApiSessionToken:0x007f0ccee9bc18%3E"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"30101fb6008b7f38c139a759f110f434"'
    body:
      encoding: UTF-8
      string: '{"api_session_token":{"token":"ujiiXXvZVg9SImtsp0gDTzpEIomTv1ojmtzzWaSvzoNfo0iVsK7H00oMYcZShXQrVVbKLNpqGOKYGGgfAkknd5p2bvR0nsOvcICJPdswavAdmIzJ1IuvLsyehbNBJR65","ttl":1199,"user_id":null}}'
  recorded_at: Mon, 22 Dec 2014 21:50:47 GMT
- request:
    method: post
    uri: https://oshpark.com/api/v1/sessions
    body:
      encoding: US-ASCII
      string: email=<USERNAME>&password=<PASSWORD>
    headers:
      Authorization:
      - ujiiXXvZVg9SImtsp0gDTzpEIomTv1ojmtzzWaSvzoNfo0iVsK7H00oMYcZShXQrVVbKLNpqGOKYGGgfAkknd5p2bvR0nsOvcICJPdswavAdmIzJ1IuvLsyehbNBJR65
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v1/sessions.%23%3CApiSessionToken:0x007f0cec252060%3E"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2bf07c81e82825d901d42a02c597a7a4"'
    body:
      encoding: UTF-8
      string: '{"api_session_token":{"token":"ujiiXXvZVg9SImtsp0gDTzpEIomTv1ojmtzzWaSvzoNfo0iVsK7H00oMYcZShXQrVVbKLNpqGOKYGGgfAkknd5p2bvR0nsOvcICJPdswavAdmIzJ1IuvLsyehbNBJR65","ttl":1199,"user_id":"54988b9a31666200265c0100"}}'
  recorded_at: Mon, 22 Dec 2014 21:50:48 GMT
- request:
    method: get
    uri: https://oshpark.com/api/v1/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ujiiXXvZVg9SImtsp0gDTzpEIomTv1ojmtzzWaSvzoNfo0iVsK7H00oMYcZShXQrVVbKLNpqGOKYGGgfAkknd5p2bvR0nsOvcICJPdswavAdmIzJ1IuvLsyehbNBJR65
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"faa2f9f3aece48306c7f0195c956d127"'
    body:
      encoding: UTF-8
      string: '{"projects":[{"id":"<PROJECT>","design_file_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/project/design/<PROJECT>/design.brd","name":"2
        Layer","description":null,"top_image":{"thumb_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/project/top_image/<PROJECT>/thumb_i.png","large_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/project/top_image/<PROJECT>/large_i.png","original_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/project/top_image/<PROJECT>/i.png"},"bottom_image":{"thumb_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/project/bottom_image/<PROJECT>/thumb_i.png","large_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/project/bottom_image/<PROJECT>/large_i.png","original_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/project/bottom_image/<PROJECT>/i.png"},"width_in_mils":3937,"height_in_mils":3150,"pcb_layers":2,"state":"APPROVED","is_shared":false,"layers":[{"id":"Z3z5OIWR","name":"Bottom
        Solder Mask","gerber_file_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/layer/gerber/Z3z5OIWR/bottom%20solder%20mask.ger","image":{"thumb_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/layer/image/Z3z5OIWR/thumb_i.png","large_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/layer/image/Z3z5OIWR/large_i.png","original_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/layer/image/Z3z5OIWR/i.png"},"imported_from":"2-Layer.brd","width_in_mils":null,"height_in_mils":null},{"id":"AqI0Wjhz","name":"Top
        Layer","gerber_file_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/layer/gerber/AqI0Wjhz/top%20layer.ger","image":{"thumb_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/layer/image/AqI0Wjhz/thumb_i.png","large_url":"https://644db4de3505c40a0444-327723bce298e3ff5813fb42baeefbaa.ssl.cf1.rackcdn.com/uploads/l[...]
